.navbar-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: space-evenly;
}

.navbar-categories{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
